.container {
  /* width: 1024px;
  display: flex;
  position: center; */
}

.wrapper {
  margin-top: 50px;
  margin-left: 20%;
  width: 1024px;
}

.title_head {
  font-weight: 600;
  font-size: 23.44px;
  height: 33px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left_img {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 3px;
  border-radius: 50%;
  margin-right: 10px;
}

.header__left_name {
  font-weight: 600;
  font-size: 18px;
}

.header__left {
  display: flex;
}

.header__right {
  display: flex;
  /* align-items: center;  */
}

.header__right_icons {
  margin-left: 20px;
  margin-right: 15px;
  font-size: 18px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.icons {
  font-size: 32px;
}

.picture {
  width: 1024px;
  height: 768px;
  border-radius: 1.5%;
}

.deatailDescr {
  width: 1024px;
}

/* !comments */
.commentField {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.commentInput {
  height: 70px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

.commentButton {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #ff0099;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.commentButton:hover {
  background-color: #d00c8f;
  color: white;
}
