.container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
  /* width: 297px;
  height: 254.75px; */
  padding: 10px;
  margin: 0 9px 9px 9px;
  gap: 10px;
}

.picture {
  width: 297px;
  height: 225px;
  border-radius: 3%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -3px;
}

.footer_left {
  display: flex;
  align-items: center;
}

.footer_left img {
  background-color: aqua;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 5px;
}

.userName {
  margin-right: 7px;
}

.right {
  display: flex;
  align-items: center;
}

.like,
.view {
  display: flex;
  align-items: center;
}

.teggg {
  background-color: rgb(204, 204, 204);
  border-radius: 3px;
}

.FavoriteIcon {
  margin-right: 5px;
}
