a {
  text-decoration: none; /* Общее правило для всех ссылок */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 14vh;
  position: relative; /* Добавлено */
}

.navbarMenu {
  display: flex;
  list-style: none;
}

.navbarItem {
  margin-right: 20px;
  font-weight: 600;
}

.navbarItem a {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.navbarItem a:hover {
  color: #000000;
}

.navbarItem span {
  font-size: 12px;
  margin-left: 5px;
}

.navbarLogo {
  position: absolute; /* Добавлено */
  left: 50%; /* Добавлено */
  transform: translateX(-50%); /* Добавлено */
}

.navbarLogo img {
  display: block;
}

.navbarSearch {
  display: flex;
  align-items: center;
  margin-right: 6vw;
}

/* ! search*/
.InputContainer {
  width: 270px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgb(227, 213, 255),
    rgb(255, 231, 231)
  );
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
  width: 220px;
  height: 40px;
  border: none;
  outline: none;
  caret-color: rgb(255, 81, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
}
/* ! */

.navbarProfile {
  margin-left: 7%;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #f6f3f3;
  cursor: pointer;
}

/* ! модалка */
.modalContainer {
  position: relative;
}

.modalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.modalContent {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 5.4%;
  margin-right: 1%;
  width: 240px;
  height: 320px;
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f8f8f8;
}

.menu {
  list-style: none;
  padding: 0;
  text-align: left !important;
}

.menu li {
  margin: 15px 0;
  cursor: pointer;
}

#setting {
  margin-bottom: 20px;
}

.modalContent p {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 25px;
  margin-top: 10px;
}

/* ! buttons */
.btn {
  width: 6.2em;
  height: 3.1em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 2em;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 5px;
  margin-left: 10px;
}

button:hover {
  color: black;
}

button:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* ? logIn */
.logIn {
  padding: 5px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 650;
  cursor: pointer;
  color: black;
}
/* ? */

/* ! */

/* !Адаптивный дизайн */
@media (max-width: 768px) {
  .navbarMenu {
    display: none; /* Скрыть меню на маленьких экранах */
  }

  .navbarSearch {
    width: 100%; /* Ширина 100% для поиска на маленьких экранах */
  }
}
