.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  max-width: 500px;
  /* height: 900px; */
  margin: 0 auto;
  background: radial-gradient(circle, #ff6ec4, #7873f5);
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: rotate(-3deg) skew(-3deg);
  border: 5px dashed #fff;
  position: relative;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.1)
  );
  transform: rotate(30deg);
  animation: rotateBg 15s linear infinite;
}

@keyframes rotateBg {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(390deg);
  }
}

h2 {
  font-size: 2rem;
  /* margin-bottom: 1rem; */
  color: #fff;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  transform: skew(-8deg) rotate(-3deg);
  letter-spacing: 0.05rem;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Great Vibes", cursive;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  margin-bottom: 0.5rem;
  transform: skew(-3deg);
}

label h3 {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 0.3rem;
  text-transform: uppercase;
}

category input[type="text"],
input[type="email"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
input[type="file"]:focus {
  transform: scale(1.05) rotate(-1deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

textarea {
  resize: none;
  /* min-height: 80px; */
}

input[type="file"] {
  padding: 0.3rem 0;
}

button {
  background-color: #ff3bd5;
  color: #140f0f;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: skew(-3deg) rotate(-1deg);
  transition: all 0.2s ease;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0)
  );
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: scale(1.2);
}

button:hover::before {
  opacity: 1;
  transform: scale(1);
}

button:hover {
  background-color: #ff4f89;
  box-shadow: 0 8px 16px rgba(255, 64, 129, 0.5),
    0 0 20px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
  color: #121212;
}
